@import "normalize.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  margin: 2em auto;
  max-width: 54em;
  font-size: 0.9em;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.33em;
  color: #333;
}
a {
  color: mediumblue;
  text-decoration: none;
  border-bottom: solid 1px silver;
}
a:hover {
  color: red;
}
h1 {
  color: #222222;
  font-size: 1.3em;
  color: DarkSlateGray;
}
h2 {
  font-size: 1.1em;
  color: Purple;
}
h3 {
  font-size: 1.05em;
}
h4 {
  font-size: 1em;
  font-weight: bold;
}
h1,
h2,
h3,
h4 {
  font-family: helvetica;
  margin-top: 20px;
}
li {
  list-style-position: outside;
  list-style-type: square;
}
li p {
  margin-top: 10px;
}
blockquote {
  color: SeaGreen;
  background: linen;
  line-height: 180%;
  margin-left: 0em;
  padding-left: 0.5em;
  color: green;
  border-left: 1px solid #98a;
}
code {
  font-weight: 300;
}
pre.input {
  border-top: dotted 1px gainsboro;
  border-bottom: dotted 1px gainsboro;
  padding-top: 0.5em;
  background-color: LightYellow;
}
pre.output {
  background-color: AliceBlue;
}
a.appendix {
  color: steelgray;
}
#sitenav p {
  border-radius: 5px;
  background-color: slategray;
  padding: 0.5em;
  font-size: 1.9em;
}
#sitenav p a {
  text-decoration: none;
  color: white;
  border: none;
}
#TOC {
  margin-top: 2em;
  margin-bottom: 3em;
}
#TOC ul {
  margin-left: -2.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#TOC ul li {
  list-style-type: none;
}
#TOC ul li a {
  text-decoration: none;
  color: slategray;
  font-weight: bold;
  border: none;
}
